extends layout 

block content
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.h6.breadcrumb-item
                a(href='/') Home
    .text-center
        h1 Home Page Welcome #{username}
        h3 Please choose a category
          -if (username != "Visitor")
            a(href='/order/cart')
              input.btn.btn-primary(type='button' value='cart')
            a(href='/auth/signout')
              input.btn.btn-primary(type='button' value='signout')
          -else
            a(href='/auth/signin')
              input.btn.btn-primary(type='button' value='signin')
            a(href='/auth/signup')
              input.btn.btn-primary(type='button' value='signup')
            
    .subcategories
      ul(style='list-style-type:none') 
        each i in categories
          .oneSubCategorie.p-3.mb-3.bg-dark.text-white.rounded.text-center
            p.display-6= i.page_title
            hr
            a(href='/products/categories/' + i.id)
              img.w-75(src='/static/images/' + i.image)
            li.h5= i.page_description
            br
