extends layout 

block content

    .index-mid
        .signin
            h1.index-mid Sign Up

            form(action='/auth/signup', method='post')
                div
                        input.form(type='text', placeholder='email' name='email')
                br
                div

                        input.form(type='text', placeholder='name' name='name')
                br 
                div

                        input.form(type='text', placeholder='password', name='password')
                br    
                div
                        input.form(type='text',  placeholder='confirm password', name='cPassword')
                br   
                button.btn.long(type='submit') Submit